
.header {
  background-color: #f1f1f1;
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
}

#appName {
  float: left;
  margin:5px 10px;
}

#buttons {
  float: right;
}

.contentForm {
  display: inline-block;
  padding: 10px;
  border: 1px solid grey;
  margin: 0px;
  cursor: pointer;
}

.selected {
  background-color: grey;
  color: white;
}

@media only screen and (max-width:525px) { 
  
  .container {
    padding: 0px !important;
  } 

  #appName {
    float: none;
    margin:10px 0px;
    text-align: center;
  }

  #buttons {
    float: none;
  }

  .contentForm {
    width: 50%;
    text-align: center;
  }
}
